<!doctype html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="http://960ls.atomidata.com/static/cssserve/9/8/6/3/9/98639.css">
	</head>
	<body>
		<div id="header" class="container_12"></div>
		<div id="content" class="container_12">
			<div class="grid_4">
				Directories:
				<img width="100%" height="400px" src="http://wightwildflowers.com/assets/images/placeholder.png">
				<p>
					Filter by tags: <input size="5"/>,
				</p>
			</div>
			<div class="grid_4">
				<!-- if no element is selected -->
				<p><em>Click an element to select</em></p>
				<p><em>Type: Text</em></p>
				<p>
					Tags: <input size="5"/>,
				</p>
			</div>
		</div>
		<div id="footer" class="container_12"></div>
	</body>
</html>
