<!doctype html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="/css/grid.css">
		<link rel="stylesheet" type="text/css" href="/css/ui-lightness/jquery-ui-1.8.5.custom.css"/>
		<link rel="stylesheet" type="text/css" href="/css/cms_sinatra.css"/>
		<script src="/js/jquery-1.4.3.min.js"></script>
		<script src="/js/jquery-ui-1.8.5.min.js"></script>
		<script src="/js/underscore.js"></script>
		<script src="/js/backbone.js"></script>
		<script src="/js/underscore.strings.js"></script>
		<script src="/js/SectionManager.js"></script>
		<script src="/js/TemplateManager.js"></script>
		<script src="/js/Page.js"></script>
		<script src="/js/jquery/jstree/jquery.jstree.js" defer async></script>
		<script src="/js/jquery/jstree/_lib/jquery.cookie.js" defer async></script>
		<script>
			$(function(){
				var track = function(event){
					var elLeft = event.pageX, 
						elTop = event.pageY;
					var container = event.data.container;
					var cOffset = $(container).offset();
					var cLeft = cOffset.left,
						cTop = cOffset.top,
						cRight = cOffset.left + $(container).width(),
						cBottom = cOffset.top + $(container).height();
					var closest, closestDistance = Infinity;
					var pairs = [[elLeft, cLeft, "left"], [elTop, cTop, "top"], [elLeft, cRight, "right"], [elTop, cBottom, "bottom"]];
					_(pairs).map(function(n){
						var dist = Math.abs(n[1] - n[0]);
						if(dist < closestDistance){
							closest = n[2];
							closestDistance = dist;
						}
					});
					var desiredClass = "new_slot_" + closest;
					if(!$(container).hasClass(desiredClass)){
						$(container).removeClass("new_slot_left").removeClass("new_slot_top").removeClass("new_slot_right").removeClass("new_slot_bottom").addClass(desiredClass);
					}
					console.log(closest);
				}
				

				
				$("#add_section").click(function(){
					switch(SectionManager.getMode()){
					case "default":
						SectionManager.setMode("add_section");
						break;
					case "add_section":
						SectionManager.setMode("default");
						break;							
					}
				});
				$("#main_menu a.content").click(function(){
					var html = "<li><a href='#' id='pages_menu'>Pages</a></li>";
					html += "<li><a href='#' id='documents_menu'>Documents</a></li>";
					$("#sub_menu").slideUp(function(){
						$(this).html(html).slideDown();
						
						$("#pages_menu").click(function(){
							TemplateManager.get("/admin/content/pages_dialog/main", function(templ){
								templ = templ();
								console.log(templ);

								var pages = new Pages();
								pages.bind("add", function(page){
									var parent_id = page.get("parent");
									if(parent_id){
										var parent = pages.get(parent_id);
										parent.addChild(page);
									}
								});
								pages.add([
									{
										"id": 1,
										"name": "Page 1"
									},
									{
										"id": 2,
										"name": "Page 2"
									},
									{
										"id": 3,
										"name": "Page 2a",
										"parent": 2
									}
								]);
								var topLevelPages = pages.filter(function(page){
									return !page.get("parent");
								});
								var processPage = function(page){
									var ret = {
										"data": {
											"title": page.get("name"),
											"attr": {"data-page-id": page.id}
										}
									};
									var children = page.get("children");
									if(!_.isEmpty(children)){
										ret.children = _(children).map(processPage);
									}
									return ret;
								}
								var jstreeData = _(topLevelPages).map(processPage);
								jstreeData.push({
									"data": {
										"title": "Masters",
										"attr": {"data-canDelete": false}
									}
								});
								
								$("<div>" + templ + "</div>").dialog({
									modal: true,
									open: function(){
										console.log("this is %o and div.files is %o", this, $("div.files", this));
										// initialize tree
										var tree = $("div.files", this).jstree({
											"json_data" : {
												"data" : jstreeData
											},
											"ui": {
												"select_limit": 1
											},
											"plugins" : [ "json_data", "themeroller", "crrm", "ui", "unique" ]
										});
										// initialize buttons
										var file_panel = $("div.file_panel", this);
										file_panel.delegate("#create_new_page,#create_new_child_page", "click", function(e){
											tree.jstree("create",undefined, undefined, "New page");
											e.preventDefault();
											return false;
										});
										// click node behavior
										var selectedNode = null;

										tree.bind("rename_node.jstree", function(e, data){
											console.log("node %o renamed", data.rslt.obj[0]);
											var anchor = $(data.rslt.obj[0]).children("a");
											if(!anchor.attr("data-page-id")){
												var text = anchor.text();
												var parentId = anchor.closest("li").parent().closest("li").children("a").attr("data-page-id");
												var page = new Page({
													"name": _(text).trim(),
													"parent": parseInt(parentId)
												});
												pages.add(page);
												anchor.attr("data-page-id", page.cid);
											}
										});

										tree.bind("select_node.jstree", function(e, data){
											// this api sucks.  this _should_ be data.result.
											var node = data.rslt.obj[0];
											var anchor = $(node).children("a");
											var node_name = _(anchor.text()).trim();
											var can_delete = anchor.data("canDelete");
											var id = anchor.attr("data-page-id");
											var page;
											if(id){
												if(_(id).startsWith("c")){
													page = pages.getByCid(id);
												} else {
													page = pages.get(id);
												}
											}
											var parent;
											if(page){
												parent = pages.get(page.get("parent"));
											}
											
											if(node != selectedNode){
												selectedNode = node;
												console.log("selected node! %o", node);
												
												TemplateManager.get("/admin/content/pages_dialog/edit_node", function(template){
													var result = template({id: id, name: node_name, parent: (parent && parent.get("name")	), can_delete: can_delete});
													file_panel.html(result);
												});
											} else {
												selectedNode = null;
												console.log("deselected node! %o", node);
												tree.jstree("deselect_all");
											}
										});
									},
									width: 600,
									resizable: false
								});
							});
						});
					});
				});
			});
		</script>
	</head>
	<body class="edit-mode">
		<!-- EDIT MODE -->
		<div style="text-align:center">
		<div class="header">
			<ul id="main_menu">
				<li><a href="#">Admin Central</a></li>
				<li><a href="#" class="content">Content</a></li>
				<li><a href="#"><b>Layout</b></a></li>
			</ul>
			<br/>
			<ul id="sub_menu">
				<li><button id="add_section">Add Section</button></li>
			</ul>
		</div>
		</div>
		<!-- END EDIT -->
		<div class="top"></div>
		<div data-slot="1" class="container_12" style="height:200px">
			<div class="grid_12 alpha omega">Here we have the header</div>
		</div>
		<div class="container_12">
			<div data-slot="2" class="grid_4 alpha" style="height:200px">Left column</div>
			<div data-slot="3" class="grid_8 omega" style="height:200px">Main content</div>
		</div>
		<div data-slot="4" class="container_12" style="height:200px">Bottom section</div>
	</body>
</html>
